@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

:root {
	--main-color: #474747;
	--hover-color: #FFDB58;
	--bg-color: #fefcff;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--bg-color);
	font-family: 'Nunito', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 50px 0 15px;
}

h1 {
	color: var(--main-color);
	letter-spacing: 8px;
	text-transform: uppercase;
}

li {
	color: var(--main-color);
	font-size: 22px;
	cursor: pointer;
	letter-spacing: 2px;
	line-height: 3;
	transition-duration: 0.5s ease;
}

li:hover {
	color: var(--hover-color);
}

a {
	color: currentColor;
	text-decoration: none;
}