* {
	box-sizing: border-box;
}

body {
	background-color: #ffd1dc;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

h1 {
	color: #a94064;
}

ul {
	color: #a94064;
	font-size: 22px;
	list-style-type: none;
}

a {
	color: currentColor;
	cursor: pointer;
	letter-spacing: 1px;
	line-height: 3;
	text-decoration: none;
	transition-duration: 0.5s;
}

a:hover {
	color: #fc6c85;
}